#stock-page {
  font-family: 'Poppins', sans-serif;
  background: #f9fafc;
  min-height: 80vh;
}

#stock-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 5px;
  background: white;
  border-radius: 10px;
}

.stock-title {
  color: #1d4e89;
  font-weight: 700;
}

.stock-value {
  font-size: 1.8rem;
  color: #0e2a47;
  font-weight: bold;
  margin: 0px 0px;
}

#error-message {
  color: red;
  font-weight: 500;
}