login page

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  border-radius: 20px;
  width: 900px;
  max-width: 95%;
  display: flex;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
} 

.login-section {
  flex: 1;
  padding: 60px 50px;
}

.login-section h2 {
  font-size: 26px;
  margin-bottom: 30px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

input {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #1976d2;
}

.forgot {
  font-size: 13px;
  margin-bottom: 20px;
}

.forgot a {
  color: #1976d2;
  text-decoration: none;
}

.forgot a:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #1d4e89;
  border: none;
  color: #fff;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s
}

.login-btn:hover {
  background: #1565c0;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
  font-size: 24px;
}

.social-login i {
  cursor: pointer;
  color: #444;
  transition: 0.3s;
}

.social-login i:hover {
  color: #1976d2;
}

.right-panel {
  width: 45%;
  background: linear-gradient(145deg, #0e2a47, #1d4e89);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.right-panel h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.right-panel p {
  margin-bottom: 25px;
  font-size: 15px;
}

.right-panel button {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 25px;
  color: #ffffff;
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.right-panel button:hover {
  background-color: #ffffff;
  color: #0e2a47;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 90%;
  }

  .right-panel {
    padding: 30px;
  }
}
